MISP_URL=https://192.168.0.16
MISP_AUTH_KEY=5KGbrerXh6G2zmXDwGZpw0C6pVHVht8hhWeRm35w
WEBHOOK_SECRET=<YOUR_WEBHOOK_SECRET>
MISP_VERIFYCERT=false
LAST_DAYS=30
TO_IDS=true
IOC_DIR=/var/ossec/integrations/ioc
FULL_RESET=true
